In [7]:
num = input()
sum_digi = 0
prod_of_digi = 1
for digit in num:
    sum_digi += int(digit)
    prod_of_digi *= int(digit)
if sum_digi == prod_of_digi:
    print(num, "Spy")
else:
    print(num, "not spy")

10 not spy

In [8]:
num = int(input())
sum_digi = 0
temp = num
while temp > 0:
    sum_digi += temp % 10
    temp = temp // 10
if num % sum_digi == 0:
    print(num, "Niven")
else:
    print(num, "not a Niven")

20 Niven

In [9]:
num = int(input())
sum_digi = (num // 10) + (num % 10)
prod_digi = (num // 10) * (num % 10)
if num == sum_digi + prod_digi:
    print("Special")
else:
    print("Not special")

Not special

In [10]:
num = int(input())
is_prime = True
for i in range(2, num):
    if num % i == 0:
        is_prime = False
        break
if is_prime:
    print(num, "Prime")
else:
    square = num * num
    if str(num) == str(square)[-len(str(num)):]:
        print(num, "automoorphic")
    else:
        print(num, "no prime Automorphic")

30 no prime Automorphic

In [11]:
a = float(input())
n = int(input())
sum = 0
for i in range(1, n+1):
    sum += (i**i) / (a**(i-1))
print("Sum series: ", sum)

Sum series:  12964744.294069612

In [4]:
a = float(input())
sum = 0
for i in range(11):
    sign = (-1)**i
    term = a**i
    sum += sign * term
print("Sum series is", sum)

Sum series is 2005395532515211.0

In [3]:
with open("RollNo_Name.txt", "r") as f:
    lines = f.readlines()[1:]
    rollname_dict = {line.split()[0]: line.split()[1] for line in lines}

with open("RollNo_Score.txt", "r") as f:
    lines = f.readlines()[1:]
    student = []
    for line in lines:
        roll_no, score = line.split()
        if roll_no in rollname_dict:
            name = rollname_dict[roll_no]
            student.append([roll_no, name, score])

print("Roll No\tName\t\tScore")
for student in student:
    print("{}\t{}\t\t{}".format(student[0], student[1], student[2]))

Roll No	Name		Score
2005270	SHIVANI		15
2005076	AKSHAT		13
20051633	ADARSH		13
2005343	SUBHRANGSHU		9
20051420	SHUBHANSH		14
20051915	Jyotsana		15
20051174	SIMRAN		14
20051182	SWEEKRITI		15
20051433	AASHISH		15
20051143	DURGESH		14
20051164	SANSKAR		15
20051351	NACHIKETA		14
2005312	HIMANSHU		15
2005704	ACHINTYA		15
20051397	B.S.		5
20051467	SHRUTI		15
20051872	ADITYA		15
20051614	VIVEK		13
20051473	SNEHIL		15
20051359	RADHIKA		15
20051105	SIMRAN		15
20051855	TIYASHA		13
20051388	SURAVI		15
20051001	CHANDRIKA		12
20051167	SHASHWAT		15
2005909	VISHNUPRIYA		13
2005011	ANUBHAV		13
2005150	ARGHYADEEP		13
2005718	ASTITVA		14
2005198	SHIVANGI		13
2005597	PRIYANSHU		15
2005326	ROHIT		13
2005904	TANISHQ		14
2005631	ABHIGYAN		15
2005332	SASWATA		13
2005119	RATUL		12
2005554	TANMOY		14
2005548	SOUMYADEEP		14
20051049	VIRAJ		11
2005179	MONSOON		15
20051903	Aakash		12
2005407	SHIKHA		13
20051510	ANKITA		13
20051023	RISHAV		12
2005521	KISALAY		13
21053022	CHIRANJEEB		15
20051868	JASIKA		15
2005608	SARTHAK		14
2005444	ASHITA		14
2005578	CHIRAG		15
2005603	SAJAL		15
20051888	Sonal		13
20051552	ARKAPRAVA		15
20051562	ANSHUL		15
2005439	ANUSHKA		14
2005979	WRIDDHI		15
20051981	OSMAN		11
2005168	HIMANSHU		11
2005161	DIVYANSHU		13
20051042	SUMEET		15
2005929	ARUNANGSHU		15
2005473	SAKSHAM		14
2005324	PRIYANSHU		15
2005289	ANIKET		15
2005849	ANIK		15
20051122	ADARSH		15
2005178	MEGHNA		12
2005278	SUHENA		15
21053067	SUBHANNITA		15
2005058	SHREYANKA		15
2005288	ANIKET		15
21053015	ASHUTOSH		15
2005590	MRIGANK		15
2005585	KUNAL		15
21053047	SHIVRAM		15
21053042	RISHAB		15
20051362	SAHIL		15
2005601	RISHABH		15
20051962	PRIYANSHU		15
20051805	SK		15
2005598	RADHIKA		15
2005721	CHESHTA		14
20051866	KSHITIJ		15
20051254	SIDHANT		14
20051329	SRUSTI		14
2005645	ANKIT		12
21053002	ABHINAV		12

In [13]:
s = input("Enter a string: ")
count = {}
for char in s:
    if char in count:
        count[char] += 1
    else:
        count[char] = 1

print(count[char])

1